* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #3C3C3C;
  border-top: solid 25px #171717;
  border-bottom: solid 25px #171717;
}

.hand1 {
  position: absolute;
  background: #949494;
  width: 300px;
  height: 800px;
  top: 250px;
  left: 600px;
  border-radius: 150px 150px 0 0;
}

.hand2 {
  position: absolute;
  background: #949494;
  width: 100px;
  height: 150px;
  top: 275px;
  left: 600px;
  border-radius: 50%;
}

.hand3 {
  position: absolute;
  background: #949494;
  width: 100px;
  height: 150px;
  top: 200px;
  left: 655px;
  border-radius: 50%;
}

.hand4 {
  position: absolute;
  background: #949494;
  width: 100px;
  height: 150px;
  top: 200px;
  left: 740px;
  border-radius: 50%;
}

.hand5 {
  position: absolute;
  background: #949494;
  width: 100px;
  height: 150px;
  top: 275px;
  left: 800px;
  border-radius: 50%;
}

.meat1 {
  position: absolute;
  width: 55px;
  height: 80px;
  left: 610px;
  top: 300px;
  border-radius: 50%;
  background-color: #3C3C3C;
}

.meat2 {
  position: absolute;
  width: 55px;
  height: 80px;
  left: 680px;
  top: 240px;
  border-radius: 50%;
  background-color: #3C3C3C;
}

.meat3 {
  position: absolute;
  width: 55px;
  height: 80px;
  left: 760px;
  top: 240px;
  border-radius: 50%;
  background-color: #3C3C3C;
}

.meat4 {
  position: absolute;
  width: 55px;
  height: 80px;
  left: 825px;
  top: 300px;
  border-radius: 50%;
  background-color: #3C3C3C;
}

.meat5 {
  position: absolute;
  width: 160px;
  height: 120px;
  left: 665px;
  top: 350px;
  border-radius: 50%;
  background-color: #3C3C3C;
}

.name {
  position: absolute;
  left: 705px;
  top: 420px;
  color: #FFFFFF;
}

.name2 {
  position: absolute;
  left: 695px;
  top: 380px;
  color: #FFFFFF;
}

.cat:hover {
  -webkit-transform: translate(-50px, -50px);
          transform: translate(-50px, -50px);
}

.cathead {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 50px;
  top: 150px;
  border-radius: 50%;
  background: #949494;
}

.ear1 {
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 100px solid #949494;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  background-color: transparent;
  left: 52px;
  top: 108px;
}

.ear2 {
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 100px solid #949494;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  background-color: transparent;
  left: 148px;
  top: 108px;
}

.cattext {
  position: absolute;
  left: 120px;
  top: 195px;
  color: #FFFFFF;
  font-size: 30px;
}

[class*='ball'] {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-animation: falling 2s infinite;
          animation: falling 2s infinite;
}

.ball1 {
  position: absolute;
  left: 74.6718112531%;
  top: 62.9603944671%;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.ball2 {
  position: absolute;
  left: 41.6104199958%;
  top: 17.4271795618%;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.ball3 {
  position: absolute;
  left: 72.9849005896%;
  top: 52.8415457236%;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.ball4 {
  position: absolute;
  left: 10.4913093243%;
  top: 1.16318828%;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.ball5 {
  position: absolute;
  left: 44.4766901711%;
  top: 39.6995119185%;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.ball6 {
  position: absolute;
  left: 34.8482747415%;
  top: 2.6584491452%;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.ball7 {
  position: absolute;
  left: 25.9480071505%;
  top: 67.6790662183%;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.ball8 {
  position: absolute;
  left: 54.9382411743%;
  top: 12.4304726429%;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.ball9 {
  position: absolute;
  left: 88.8236735474%;
  top: 37.6845708062%;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.ball10 {
  position: absolute;
  left: 23.3341817181%;
  top: 10.1283421122%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.ball11 {
  position: absolute;
  left: 16.8972593356%;
  top: 18.2258007249%;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.ball12 {
  position: absolute;
  left: 45.1349689105%;
  top: 0.2746729479%;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.ball13 {
  position: absolute;
  left: 44.3140714948%;
  top: 27.2975652842%;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
}

.ball14 {
  position: absolute;
  left: 78.4980749347%;
  top: 28.6486018678%;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}

.ball15 {
  position: absolute;
  left: 26.44711949%;
  top: 71.5618101463%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.ball16 {
  position: absolute;
  left: 4.3223594034%;
  top: 76.2207183144%;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

.ball17 {
  position: absolute;
  left: 95.7672670127%;
  top: 65.8063412278%;
  -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s;
}

.ball18 {
  position: absolute;
  left: 87.7296054343%;
  top: 74.324691748%;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}

.ball19 {
  position: absolute;
  left: 20.7211751948%;
  top: 60.3417095677%;
  -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s;
}

.ball20 {
  position: absolute;
  left: 13.6624871651%;
  top: 27.0676034805%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.ballgroup {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3C3C3C;
  -webkit-animation: back 8s infinite;
          animation: back 8s infinite;
}
@-webkit-keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100%, 0px);
            transform: translate(100%, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 100%);
            transform: translate(0px, 100%);
  }
}
@keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100%, 0px);
            transform: translate(100%, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 100%);
            transform: translate(0px, 100%);
  }
}
